{
	"printWidth": 140,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"semi": true,
	"useTabs": true,
	"tabWidth": 4,
	"bracketSpacing": true,
	"htmlWhitespaceSensitivity": "strict",
	"trailingComma": "es5"
}
